run = "python main.py"
modules = ["python-base-3.13"]

[nix]
channel = "stable-24_05"
packages = ["cacert", "cargo", "freetype", "glibcLocales", "lcms2", "libGL", "libGLU", "libiconv", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "rustc", "tcl", "tk", "zlib"]

[deployment]
run = ["sh", "-c", "uv run main.py"]

[[ports]]
localPort = 8080
externalPort = 80
